* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;  
}

.modalStyle .ant-modal-header {
  border-radius: 20px 20px 0 0;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #0a1f29;
  color: white;
}

h1 {
  font-size: var(--prem-20);
}

h2 {
  font-size: var(--prem-19);
}

h3 {
  font-size: var(--prem-18);
}

h4 {
  font-size: var(--prem-17);
}

h5 {
  font-size: var(--prem-16);
}

h6 {
  font-size: var(--prem-15);
}

p,
label,
span {
  font-size: var(--prem-14);
}

/* .table-design th {
  color: var(--color-secondary-dark) !important;
} */

.Input .Password{
  background-color: white;
}

.ant-input .css-g0ph12 .css-g0ph12{
  background-color: white;
}